@import "../../global/style.scss";


.login-container {
    display:flex;
    height:700px;
    .img-placeholder {
        flex:1;
    }
    .form-container {
        flex:1;
        display: flex;
        flex-direction: row;
    }
    form {
        width:300px;
        border:1px solid #eee;
        padding:30px;
        height:500px;
        display: flex;
        flex-direction: column;
    }
}