.image-box-container {
    position: relative;
    float: right;
    .actions {
        position: absolute;
        right: 0;
        margin: 10px;
        opacity:0;
        transition:all 0.2s linear;
    }
    
    &:hover {
        .actions {
            opacity:1;
        }
    }
}