.datatable-container {
    .btnNew {
        float: right;
        margin: 10px;
        font-size: 50px;
    }
    th {
        font-weight: bold;
    }
}

.form-fields {
    margin: 10px 0;
}
.thumbnail {
    max-width:50px;
}