.img-placeholder {
    background-color: #ddd;
    color:#fff;
    font-size:80px;
    font-weight: 300;
    content: "Image source";
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 1.3rem;
    line-height: 1.5;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
li {
    list-style: none;
}


.log-note {
    font-size:13px;
    background:yellow;
    padding:3px 5px;
}