.sidebar-container {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 20px;
    height: 1500px;
    position:relative;
    .sidebar-bg {
        background: url("/img/bg.jpg");
        background-size: contain;
        background-attachment: fixed;
        background-position-x: 34em;
        filter: brightness(0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }
    a {
        color: #ccc;
        font-size: 16px;
        font-weight: normal;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        display: flex;
        svg {
            margin-right: .5em;
        }
        &:hover {
            color:#fff;
            text-decoration: none;
            background-color:purple;
        }
    }
}
.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
        width:3em;
        height:3em;
        background-color: purple;
    }
    .user-name {
        margin-top:20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333;
        box-shadow: 0px 1px 0px #111;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:#fff;
    }
}