.quiz-builder-container {   
    .settings-container {
        display:flex;
        flex-direction: row;
        .settings {
            flex:3;
            display:flex;
            flex-direction: column;
        }
        .buttons {
            button {margin:10px;}
        }
    }
    .questions-container {
        display:flex;
        flex-direction: column;
        font-size: 14px;
        .item {
            display: flex;
            flex-direction: row;
            padding: 20px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 2px 2px 0px #eee;
        }
        .question-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 20px;
        }
        .choices {
            flex-direction: row;
            display: flex;
            .choice {
                margin: 0 10px;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .add-question-block {
        text-align: center;
    }
}