.datagrid-container {
    .cell-container {
        width: 30%;
        margin: 10px;
        display: inline-block;
        height: 250px;
        background-color: #eee;
        border:5px solid transparent;
        border-radius: 30px;
        filter:grayscale(100%);
        transition: all 0.2s linear;
        cursor: pointer;
        color: purple;
        font-size: 50px;
        text-shadow: 1px 1px 1px #fff;
        .cell {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 30px;
            .cell-img {
                top: 0;
                left: 0;
                object-fit: cover;
                width:100%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }
        }
        &:hover {
            filter:grayscale(0);
            border-color: #999;
            .actions {
                opacity:1;
            }
        }
    }
    .actions {
        position: absolute;
        top: -15px;
        right: 0;
        opacity:0;
        transition:all 0.2s linear;
    }
}
