.avatar-container {
    float:right;
    width: 280px;
    margin-left: 30px;
    border: 1px solid #ccc;
}
.progress-graph-container {
    background:#eee;
}
.form-fields {
    margin: 20px;
    display: flex;
    flex-direction: column;
}


hr {
    border-top: none;
  }